// Variables
$website-width: 1280px;
$main-color: #eb916e;
$secondary-color: #a3543d;
$accent_1-color: #e4b2a3;
$accent_2-color: #dde3ed;
$accent_3-color: #557571;
$light-color: #f4f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/showcase.jpg");
